<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!-- Pluto elements required in uportal 4 -->
	<servlet>
		<servlet-name>wilson</servlet-name>
		<servlet-class>org.apache.pluto.container.driver.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-name</param-name>
			<param-value>wilsonPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet> 
      <servlet-name>ViewRendererServlet</servlet-name>  
      <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class> 
    </servlet>
    	
	<servlet-mapping>
		<servlet-name>wilson</servlet-name>
		<url-pattern>/PlutoInvoker/wilson</url-pattern>
	</servlet-mapping>

    <servlet-mapping> 
      <servlet-name>ViewRendererServlet</servlet-name>  
      <url-pattern>/WEB-INF/servlet/view</url-pattern> 
    </servlet-mapping>
	
</web-app>